@charset "ISO-8859-1";

/* 

HTML/CSS Forms
https://www.sliderrevolution.com/resources/css-forms/

*/

/*
 .--..---..   ..---..--.     .    .    
:    |    |\  ||    |   )   / \   |    
| --.|--- | \ ||--- |--'   /___\  |    
:   ||    |  \||    |  \  /     \ |    
 `--''---''   ''---''   `'       `'---'
*/






/*
.---.--.--.   ..---..--.      .   ..---.    .    .--. --.--.   . .--.
|      |   \ / |    |   :     |   ||       / \   |   :  |  |\  |:    
|---   |    /  |--- |   |     |---||---   /___\  |   |  |  | \ || --.
|      |   / \ |    |   ;     |   ||     /     \ |   ;  |  |  \|:   |
'    --'--'   ''---''--'      '   ''---''       `'--' --'--'   ' `--'
w3 schools guidance: https://www.w3schools.com/howto/howto_js_sticky_header.asp
*/

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}


/*
 .--.     .     .--..   . .--..--.  .--. .   ..   ..--. 
|   )   / \   :    |  / :    |   ):    :|   ||\  ||   :
|--:   /___\  |    |-'  | --.|--' |    ||   || \ ||   |
|   ) /     \ :    |  \ :   ||  \ :    ;:   ;|  \||   ;
'--' '       ` `--''   ` `--''   ` `--'  `-' '   ''--'  
https://1stwebdesigner.com/15-css-background-effects/
*/






/*
 .---. .--. .--. .    .
|    :    :|   )|\  /|
|--- |    ||--' | \/ |
|    :    ;|  \ |    |
'     `--' '   `'    ' 
*/

.form-sizing-single{
	text-align: center;
 }

.form-sizing-double{
 	padding: 10px 16px;
	width: 600px;
	text-align: center;
  	background-color: #f1f1f1;
 }
 
/* 
--.--.    .    .     .--..---. .-. 
  |  |\  /|   / \   :    |    (   )
  |  | \/ |  /___\  | --.|---  `-. 
  |  |    | /     \ :   ||    (   )
--'--'    ''       ` `--''---' `-' 
*/

/* div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}
 
  */