@charset "ISO-8859-1";

/* 

HTML/CSS Forms
https://www.sliderrevolution.com/resources/css-forms/

*/

/*
 .--..---..   ..---..--.     .    .    
:    |    |\  ||    |   )   / \   |    
| --.|--- | \ ||--- |--'   /___\  |    
:   ||    |  \||    |  \  /     \ |    
 `--''---''   ''---''   `'       `'---'
*/

.blurred-box{
	position:inherit;
	background: inherit;
	box-shadow: inset 0 0 0 200px rgba(255,255,255,0.10);
	border-radius: 2px;
	overflow: hidden;
}

a {
  background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}


/*
.---.--.--.   ..---..--.      .   ..---.    .    .--. --.--.   . .--.
|      |   \ / |    |   :     |   ||       / \   |   :  |  |\  |:    
|---   |    /  |--- |   |     |---||---   /___\  |   |  |  | \ || --.
|      |   / \ |    |   ;     |   ||     /     \ |   ;  |  |  \|:   |
'    --'--'   ''---''--'      '   ''---''       `'--' --'--'   ' `--'
w3 schools guidance: https://www.w3schools.com/howto/howto_js_sticky_header.asp
*/

.top-container {
  background: inherit;
  padding: 30px;
  text-align: center;
  position:inherit;
	box-shadow: inset 0 0 0 200px rgba(255,255,255,0.10);
	border-radius: 2px;
	overflow: hidden;
}

.header {
  padding: 10px 16px;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.10);
  color: black;
  position:inherit;
	border-radius: 2px;
	overflow: hidden;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}


/*
 .--.     .     .--..   . .--..--.  .--. .   ..   ..--. 
|   )   / \   :    |  / :    |   ):    :|   ||\  ||   :
|--:   /___\  |    |-'  | --.|--' |    ||   || \ ||   |
|   ) /     \ :    |  \ :   ||  \ :    ;:   ;|  \||   ;
'--' '       ` `--''   ` `--''   ` `--'  `-' '   ''--'  
https://1stwebdesigner.com/15-css-background-effects/
*/


body {
	background: linear-gradient(-45deg, #ffafbd, #ffc3a0, #cc2b5e, #753a88);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/*
 .---. .--. .--. .    .
|    :    :|   )|\  /|
|--- |    ||--' | \/ |
|    :    ;|  \ |    |
'     `--' '   `'    ' 
*/

.form-sizing-single{
	text-align: center;
 }

.form-sizing-double{
 	padding: 10px 16px;
	width: 600px;
	text-align: center;
  	background-color: #f1f1f1;
 }
 
/* 
--.--.    .    .     .--..---. .-. 
  |  |\  /|   / \   :    |    (   )
  |  | \/ |  /___\  | --.|---  `-. 
  |  |    | /     \ :   ||    (   )
--'--'    ''       ` `--''---' `-' 
https://www.w3schools.com/css/css3_images.asp

*/

div.polaroid {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

div.polaroid-side-display {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.polaroid-sizing{
	width: 70%;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  color: white;
  font-size: 18px;
}


/* 
 .--.    .    .--.  .--. .   . .-. .---..    
:       / \   |   ):    :|   |(   )|    |    
|      /___\  |--' |    ||   | `-. |--- |    
:     /     \ |  \ :    ;:   ;(   )|    |    
 `--''       `'   ` `--'  `-'  `-' '---''---'

###### W3 Schools Boostrap Carousel####
	https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_ref_js_carousel2&stacked=h
 */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 50%;
    margin: auto;
}